# Django settings
DEBUG=1
SECRET_KEY=changeme
DATABASE_URL=postgres://postgres:postgres@db:5432/maintu
ALLOWED_HOSTS=localhost,127.0.0.1

# OAuth credentials
ENTRA_CLIENT_ID=
ENTRA_CLIENT_SECRET=
ENTRA_TENANT_ID=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
