# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Django env
.env
!.env.example

# Node
node_modules/
frontend/build/
postgres_data/

# Logs and local
*.log

# Docker
*.pid
*.seed
# ignore compiled

# IDEs
.vscode/
.idea/

